<p style="color: green"><%= notice %></p>

<%= render @client %>

<div>
  <%= link_to "Editar a este cliente", edit_client_path(@client) %> |
  <%= link_to "Volver a la lista de clientes", clients_path %>

  <%= button_to "Eliminar a este cliente", @client, method: :delete %>
</div>
